{% extends 'base.html' %}

{% block content %}

<div class="flexcards">
  <div class="add-card">
    <span></span>
    <a href="/members/new"><i class="fas fa-user-plus"></i></a>
  </div>
  {% for member in members %}
  <div class="card">
    <img id="logo" src="{{url_for('static', filename='images/logo.png')}}" alt="Kettlebell, barbell logo">
    <h4 id="name"><b>{{member.first_name}} {{member.last_name}}</b></h4>
    <h5>Membership No: {{member.id}}</h5>
    <h5>{{member.membership_type.type}}</h5>
    <hr>
    <p>
      <a class="card-btn" href="/members/{{member.id}}"><i class="fas fa-info-circle"></i> Details</a>
    </p>
    <hr>
    <p>
      <a class="card-btn" href="/bookings/new/member/{{member.id}}"><i class="fas fa-plus-circle"></i> Make Booking</a>
    </p>
    <hr>
    <p>
      <a class="card-btn" href="/members/{{member.id}}/edit"><i class="fas fa-pen-square"></i> Edit</i></a>
    </p>
    <hr>
    <p>
      <a class="card-btn" href="/members/{{member.id}}/delete"><i class="fas fa-times-circle"></i> Delete</i></a>
    </p>
    <hr>
  </div>
  {% endfor %}
</div>
{% endblock content %}