{% extends 'base.html' %}

{% block content %}

<form class="form" action="/bookings/activity" method="POST">
  <h1>New Booking</h1>
  <label for="activity">Activity:</label>
  <input name="activity" id="activity" type="hidden" value="{{ activity.id }}">
  <h4>{{ activity.name }} - {{activity.date_time.strftime("%d/%m/%Y")}} - {{activity.date_time.strftime("%X")}}</h4>
  <label for="member">Member:</label>
  <select id="member" name="member">
    {% for member in members %}
    {% if member.membership_type.type == activity.membership_type.type %}
    <option value="{{ member.id}}">{{ member.first_name }} {{ member.last_name }} - {{ member.membership_type.type }}
    </option>
    {% endif %}
    {% endfor %}
  </select>
  <button type="submit">Add Booking</button>
</form>

{% endblock content %}