{% extends 'base.html' %}

{% block content %}

<form class="form" action="/bookings/member" method="POST">
  <h1>New Booking</h1>
  <span class="error">{{error}}</span>
  <label for="member">Member:</label>
  <input name="member" id="member" type="hidden" value="{{ member.id }}">
  <h4>{{member.first_name}} {{member.last_name}}</h4>
  <label for="activity">Activity:</label>
  <select id="activity" name="activity">
    {% for activity in activities %}
    {% if member.membership_type == activity.membership_type %}
    <option value="{{ activity.id }}">{{ activity.name }} - {{activity.date_time.strftime("%d/%m/%Y")}} -
      {{activity.date_time.strftime("%X")}}</option>
    {% endif %}
    {% endfor %}
  </select>
  <button type="submit">Add Booking</button>
</form>

{% endblock content %}