{% extends 'base.html' %}

{% block content %}
<form class="form" action="/instructors/{{instructor.id}}" method="POST">
    <h1>New Member</h1>
    <label for="first_name" >First Name:</label>
    <input name="first_name" id="first_name" placeholder="First name" type="text" value="{{instructor.first_name}}" required autofocus>
    <label for="last_name" >Last name:</label>
    <input name="last_name" id="last_name" placeholder="Last name" type="text" value="{{instructor.last_name}}" required>
    <label for="date_of_birth" >Date of birth:</label>
    <input name="date_of_birth" id="date_of_birth" placeholder="Date of birth:" type="date" value="{{instructor.date_of_birth}}" required>
    <label for="address" >Address:</label>
    <input name="address" id="address" placeholder="Address" type="textarea" value="{{instructor.address}}" required>
    <label for="phone_number" >Phone number:</label>
    <input name="phone_number" id="phone_number" placeholder="Phone number" type="text" value="{{instructor.phone_number}}" required>

    <button type="submit">Update Instructor</button>
</form>



{% endblock content %}