{% extends 'base.html' %}

{% block content %}
<div class="flexcards">
  <div class="add-card">
    <span></span>
    <a href="/activities/new"><i class="fas fa-plus"></i></i></a>
  </div>
  {% for activity in activities %}
  <div class="card">
    <img id="logo" src="{{url_for('static', filename='images/logo.png')}}" alt="Kettlebell, barbell logo">
    <h4 id="name"><b>{{activity.name}} </b></h4>
    <h5>{{activity.date_time.strftime("%d/%m/%Y")}}</h5>
    <h5>{{activity.date_time.strftime("%X")}}</h5>
    <hr>
    <p>
      <a class="card-btn" href="/activities/{{activity.id}}"><i class="fas fa-info-circle"></i> Details</a>
    </p>
    <hr>
    <p>
      <a class="card-btn" href="/bookings/new/activity/{{activity.id}}"><i class="fas fa-plus-circle"></i> Make a
        Booking</a>
    </p>
    <hr>
    <p>
      <a class="card-btn" href="/activities/{{activity.id}}/edit"><i class="fas fa-pen-square"></i> Edit</i></a>
    </p>
    <hr>
    <p>
      <a class="card-btn" href="/activities/{{activity.id}}/delete"><i class="fas fa-times-circle"></i> Delete</a>
    </p>
    <hr>
  </div>
  {% endfor %}
</div>
{% endblock content %}