{% extends 'base.html' %}

{% block content %}
<div class="flexcards">
  <!-- <div class="add-card">
        <a href="/activities/new"><img id="add-new" src="{{url_for('static', filename='images/icons8-add-new-96.png')}}" alt="Plus symbol" ></a>
    </div> -->
  {% for activity in activities %}
  <div class="card">
    <img id="logo" src="{{url_for('static', filename='images/logo.png')}}" alt="Kettlebell, barbell logo">
    <h4 id="name"><b>{{activity.name}} </b></h4>
    <h5>{{activity.date_time.strftime("%d/%m/%Y")}}</h5>
    <h5>{{activity.date_time.strftime("%X")}}</h5>
    <hr>
    <p>
      <a class="card-btn" href="/activities/{{activity.id}}">Details</a>
    </p>
    <hr>
    <p>
      <a class="card-btn" href="/bookings/new/activity/{{activity.id}}">Make a Booking</a>
    </p>
    <hr>
    <p>
      <a class="card-btn" href="/activities/{{activity.id}}/edit">Edit</i></a>
    </p>
    <hr>
    <p>
      <a class="card-btn" href="/activities/{{activity.id}}/delete">Delete</i></a>
    </p>
    <hr>
  </div>
  {% endfor %}
</div>
{% endblock content %}