{% extends 'base.html' %}

{% block content %}

<form class="form" action="/activities" method="POST">
    <h1>New Activity</h1>
    <label for="name" >Activity Name:</label>
    <input name="name" id="name" placeholder="Activity Name" type="text"  required autofocus>
    <label for="instructor" >Instructor:</label>
    <select id="instructor" name="instructor">
        {% for instructor in instructors %}
            <option value="{{ instructor.id }}">{{ instructor.first_name }} {{ instructor.last_name }}</option>
        {% endfor %}
    </select>
    <label for="date" >Date:</label>
    <input name="date" id="date" placeholder="Date:" type="date" required>
    <label for="time" >Time:</label>
    <input name="time" id="time" placeholder="Time" type="time" required>
    <label for="duration" >Duration:</label>
    <input name="duration" id="duration" placeholder="Duration" type="text" required>
    <label for="capacity" >Capacity:</label>
    <input name="capacity" id="capacity" placeholder="Capacity" type="text" required>
    <label for="membership_type" >Membership Type:</label>
    <select id="membership_type" name="membership_type">
        {% for membership_type in membership_types %}
            <option value="{{ membership_type.id }}">{{ membership_type.type }}</option>
        {% endfor %}
    </select>
    <label for="active" >Active:</label>
    <select name="active" id="active">
        <option value="True">Yes</option>
        <option value="False">No</option>
    </select>

    <button type="submit">Add Activity</button>
</form>

{% endblock content %}