{% extends 'base.html' %}

{% block content %}
<div class="flexcards-home">
    <!-- <div class="add-card">
        <a href="/activities/new"><img id="add-new" src="{{url_for('static', filename='images/icons8-add-new-96.png')}}" alt="Plus symbol" ></a>
    </div> -->
        <div class="card-home">
            <a href="/members">
                <div>
                    <img id="logo" src="{{url_for('static', filename='images/logo.png')}}" alt="Kettlebell, barbell logo" >
                    <h1 id="name"><b>Members</b></h1>
                </div>
            </a>
        </div>
        <div class="card-home">
            <a href="/activities">
                <div>
                    <img id="logo" src="{{url_for('static', filename='images/logo.png')}}" alt="Kettlebell, barbell logo" >
                    <h1 id="name"><b>Activities</b></h1>
                </div>
            </a>
        </div>
        <div class="card-home">
            <a href="/instructors">
                <div>
                    <img id="logo" src="{{url_for('static', filename='images/logo.png')}}" alt="Kettlebell, barbell logo" >
                    <h1 id="name"><b>Instructors</b></h1>
                </div>
            </a>
        </div>

</div>
{% endblock content %}